<h1>Static#about</h1>
<p>Find me in app/views/static/about.html.erb</p>
<!-- Estáticos -->
<li><%= link_to "Nuestros Servicios", services_path %> </li>
<li><%= link_to "Volver al inicio", root_path %> </li>
