<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user_gender.nombre %>
</p>

<%= link_to 'Edit', edit_user_gender_path(@user_gender) %> |
<%= link_to 'Back', user_genders_path %>
