<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @parkingtype.nombre %>
</p>

<%= link_to 'Edit', edit_parkingtype_path(@parkingtype) %> |
<%= link_to 'Back', parkingtypes_path %>
