<div class="col-sm-12">
  <input type="text" class="form-control" placeholder="Por ejemplo: San Miguel" />
</div>
<br>
<br>
<br>
<br>
<div class="form-group">
<div class="container col-sm-12">

<div class="jumbotron">
  <div align="center"><img src="/images/estaciona.jpg"></div>
  <h2>Estaciona aquí</h2>
  <p style="font-size:18px">Amplio espacio para su estacionamiento con seguridad.</p>
  <!-- Estáticos -->
  <li><%= link_to "Sobre Nosotros", about_path %> </li>
  <li><%= link_to "Nuestros Servicios", services_path %> </li>
</div>

</div>
</div>
<div class="row">
 <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        San Miguel</h4>
                    <p class="group inner list-group-item-text">
                        Estacionamiento description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                S/21 xh</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-primary" href="/parking/rent">Alquilar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        San Miguel</h4>
                    <p class="group inner list-group-item-text">
                        Estacionamiento description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                S/21 xh</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-primary" href="/parking/rent">Alquilar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        San Miguel</h4>
                    <p class="group inner list-group-item-text">
                        Estacionamiento description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                S/21 xh</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-primary" href="/parking/rent">Alquilar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
</div>
